.option {
    background-color: #532804;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
}

.option:hover {
    opacity: 1;
    border: 1px solid #ccc;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #008000;
    font-weight: bold;
}

.wrong {
    opacity: 0.4;
}